<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores Libros</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="myestilo.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="index.html"><img src="img/logo.png"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html" class="nav-letras">Inicio</a></li>
                <li class="dropdown">
                    <button class="dropbtn">Libros</button>
                    <div class="dropdown-content">
                    <a href="#">Libros mas Solicitados</a>
                    <a href="#">Libros mas Recomendados</a>
                    <a href="#">Libros Infantiles</a>
                    </div>
                </li>
                <li><a href="quienesSomos.html" class="nav-letras">Quienes somos</a></li>
            </ul>
        </nav>
        <div class="btn">
            <a href="usuario.html" class="btn nav-btn"><button class="fa-solid fa-user"></button></a>
            <a href="contactos.html" class="btn nav-btn"><button>contactos</button></a>
        </div>
        <a onclick="openNav()" class="menu" href="#"><button class="fa-solid fa-bars"></button></a>
        <div class="overlay" id="mobile-menu">
            <a onclick="closeNav()" href="" class="close"><i class="fa-solid fa-arrow-left"></i></a>
            <div class="overlay-content">
                <a href="#">Inicio</a>
                <a href="#">Libros</a>
                <a href="#">Autores</a>
                <a href="#">Quienes Somos</a>
                <a href="index.html">contactos</a>
            </div>
        </div>
    </header>
    <div id="app" class="pantalla-dividida">
        <div class="pantalla-Principal">
            <h1>Mejores 10 Libros Famosos </h1>
            <ol>
                <li v-for="book in libro" class="Books-container">
                    <img :src="book.foto" alt="Portada del libro">
                    <div class="book-details">
                        <p class="book-title">{{ book.nombre }}</p>
                        <p class="book-author">{{ book.autor }}</p>
                        <p class="book-reseña">{{book.reseña}}</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <footer class="footer-2">
        <div class="footer-3">
            <div class="footer-4">
                <h4>Book Online</h4>
                <p>Correo: info@BookOnline.com</p>
                <p>Teléfono: +591 72178092</p>
            </div>
            <div class="footer-4">
                <h4>Book Online</h4>
                <p>Politica y Privacidad</p>
                <p>Sobre Nuestra Empresa</p>
            </div>
            <div class="social-icons">
                <h4>siguenos en nuestra redes oficiales</h4>
                <a href="https://www.facebook.com/profile.php?id=61553220872088&mibextid=ZbWKwL" class="fa-brands fa-facebook footer-facebook"></a>
                <a href="https://www.instagram.com/book.online100?igsh=dW44dHZsMzB4dzA2" class="fa-brands fa-instagram footer-instagram"></a>
                <a href="https://www.youtube.com/channel/UC4-qw6YgYrBchoFytb9vVbA" class="fa-brands fa-youtube footer-youtube"></a>
                <a href="https://www.tiktok.com/@Book_Online" class="fa-brands fa-tiktok footer-tiktok"></a>
                <a href="" class="fa-brands fa-whatsapp footer-whatsapp"></a>
            </div>
        </div>
        <span>© Copyright Book Online All Rights Reserved.</span>
    </footer>
    <script>
        Vue.createApp({
            data() {
                return {
                    libro: [
                        { nombre: "El Codigo Da Vinci", autor: "Dan Brown", foto: "img/El-codigo-da-vinci.webp", reseña:"Una intrigante novela de misterio y suspense que sigue al profesor Robert Langdon en su búsqueda de revelaciones ocultas en obras de arte y símbolos, desentrañando secretos que podrían cambiar la historia tal como la conocemos." },
                        { nombre: "El Señor de los Anillos", autor: "J. R. R. Tolkien", foto: "img/El-Senor-de-los-Anillos-Ilustrado-por-Alan-Lee.webp", reseña:"Una épica fantasía que sigue la odisea de Frodo Bolsón para destruir un anillo maligno y salvar a la Tierra Media. Llena de personajes inolvidables y un mundo ricamente detallado, es una obra maestra del género." },
                        { nombre: "El Principito", autor: "Antoine de Saint-Exupéry", foto: "img/El-Principito.webp", reseña:"Una conmovedora historia que explora temas profundos a través de las conversaciones entre un aviador accidentado y un pequeño príncipe proveniente de otro planeta. Llena de sabiduría y reflexiones sobre la vida." },
                        { nombre: "Don Quijote de la Mancha", autor: "Miguel de Cervantes", foto: "img/Don-Quijote-de-la-Mancha.webp", reseña:"Considerada una de las obras más importantes de la literatura mundial, esta novela cómica sigue las aventuras del caballero loco Don Quijote y su fiel escudero Sancho Panza. Una sátira ingeniosa de la sociedad y las novelas de caballería." },
                        { nombre: "El diario de Ana Frank", autor: "Ana Frank", foto: "img/El-Diario-De-Ana-Frank.webp", reseña:"Un testimonio conmovedor de la vida de Ana Frank, una niña judía que se escondió con su familia durante la Segunda Guerra Mundial. Su diario captura la lucha por la supervivencia y sus reflexiones sobre la humanidad en tiempos difíciles." },
                        { nombre:"El Alquimista", autor:"Paulo Coelho", foto:"img/El-alquimista.webp", reseña:"Una cautivadora novela que sigue el viaje espiritual de Santiago, un joven pastor, en busca de su tesoro personal. A través de encuentros con personajes místicos, la historia explora la realización de los sueños y la conexión con el universo."},
                        { nombre:"Harry Potrer", autor:"J. K. Rowling", foto:"img/Harry-Potter-La-Coleccion-Completa.webp", reseña:"Una serie mágica que sigue las aventuras de Harry Potter, un joven mago, en su lucha contra el malvado Lord Voldemort. Llena de magia, amistad y valentía, la saga ha cautivado a lectores de todas las edades en todo el mundo."},
                        { nombre:"Cien Años de Soledad", autor:"Gabriel García Márquez", foto:"img/Cien-anos-de-soledad.webp", reseña:"Una obra maestra del realismo mágico que narra la historia de la familia Buendía a lo largo de varias generaciones en el pueblo ficticio de Macondo. La novela explora temas como el amor, la soledad y el destino."},
                        { nombre:"El nombre de la Rosa", autor:"Umberto Eco", foto:"img/El-nombre-de-la-rosa.webp", reseña:"Un thriller histórico que sigue al monje franciscano Guillermo de Baskerville y su aprendiz Adso mientras investigan misteriosos asesinatos en una abadía benedictina en el siglo XIV. La trama combina intriga, historia y reflexiones filosóficas."},
                        { nombre:"Historia de dos Ciudades", autor:"Charles Dickens", foto:"img/Historia-de-dos-ciudades.webp", reseña:"Ubicada en la tumultuosa época de la Revolución Francesa, esta novela narra la historia de varios personajes entrelazados en Londres y París. Conmovedora y llena de drama, explora temas de sacrificio y redención."}

                    ]

                };
            }
        }).mount('#app');
    </script>
</body>
</html>
