*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-color: #1efd0042;
}
ol {
    list-style: none;
    padding: 0;
}
label {
    display: block;
    margin-bottom: 10px;
}
h1{
    text-align: center;
    color: #2fc711c2;
    font-size: auto;
    padding-left: 8px;
    padding-right: 8px;
}
h2{
    width: 20%;
    margin-left: 40%;
    text-align: center;
    box-shadow: 0 0 90px #ffffff;
    color: #2fc711c2;
    background-color: #ffffff69;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}
ul{
    padding-inline-start: 0;
    list-style: none;
}
table {
    border-collapse: collapse;
    border-color: #ffffff;
    margin: 10px 10px;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
}
input {
    padding:5px 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.header{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 20px 8%;
    background-color: #43633ce7;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.4);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 8px;
    font-size: 20px;
}
.header .nav-links li:hover{
    transform: scale(1.3);
}
.header .nav-links .nav-letras{
    font-size: 20px;
    color: black;
}
.header .nav-links li a:hover{
    color: #ffffff;
    cursor: pointer;
}
.menu{
    display: none;
}
.menuCarrito{
    display: inherit;
}
.header .btn button,
.header .menu button{
    font-weight: 700;
    color:aliceblue;
    background-color: #2fc711;
    padding: 9px 25px;
    border-color: #2fc711;
    border-style: solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: #ffffff;
    color: #2fc711;
    transform: scale(1.1);
}


@media screen and (max-width: 700px) {
    .nav-links, .btn, .menu-lateral{
        display: none;
    }
    .menu{
        display: inherit;
    }
}

@media screen and (min-width: 701px) {
    .nav-links, .btn{
        display: inherit;
    }
    .menu{
        display: none;
    }
    .overlay{
        max-width: 0;
    }
}

/*nav*/
.header a{
    text-decoration: none;
}
.nav-btn{
    margin: 3px;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(80, 204, 38);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.header .overlayCarrito{
    top:10%;
    left: 65%;
    position: fixed;
    max-height: 60%;
    overflow-y: scroll;
    width: auto;
    text-align: center;
    background-color: rgba(102, 221, 62, 0.993);
}
.header .overlayCarrito .close-Carrito{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}
.header .overlayCarrito i:hover{
    color: red;
    cursor: pointer;
}
.header .overlay .overlay-content{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .overlay a{
    padding: 15px;
    font-size: 20px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #f7faf7;
}
.header .overlay a:hover,
.header .overlay a:focus{
    color: rgb(124, 121, 121);
}
.header .overlay .close{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 08px;
        left: 08px;
    }
}
.pantalla-dividida{
    display: flex;
}
.pantalla-dividida .principal{
    display: inline-block;
    width: 100%;
    margin-top: 115px;
    margin-left: 32%;
    margin-right: 5%;
    border-top-style: solid;
    border-top-color: #2fc711;
}
.pantalla-dividida .menu-lateral{
    position: fixed;
    margin-top: 115px;
    width: 30%;
    margin-left: 2%;
    border-top-style: solid;
    border-top-color: #2fc711;
}
.pantalla-dividida .principal-formulario{
    display: inline-block;
    width:35%;
    text-align: center;
    margin-top: 115px;
    margin-left: 32%;
    border-style: solid;
    border-color: #2fc711;
}
.pantalla-dividida .principal-contactos{
    display: inline-block;
    width:89%;
    text-align: left;
    margin-top: 115px;
    margin-left: 5%;
    margin-right: 5%;
}
.pantalla-dividida .principal-contactos .redes-sociales{
    display: flex;
    align-items: center;
    margin-left: 23%;
}

.pantalla-dividida .principal-contactos .redes-sociales .facebook,
.pantalla-dividida .principal-contactos .redes-sociales .instagram,
.pantalla-dividida .principal-contactos .redes-sociales .youtube,
.pantalla-dividida .principal-contactos .redes-sociales .tiktok,
.pantalla-dividida .principal-contactos .redes-sociales .whatsapp{
    font-size: 50px;
    padding: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 70px;
    height: 60px;
    margin: 15px;
    border-radius: 10px;
}
.pantalla-dividida .principal-contactos .redes-sociales .facebook:hover{
    color: white;
    background-color: #1c81e0;
}
.pantalla-dividida .principal-contactos .redes-sociales .instagram:hover{
    color: white;
    background-color: #cf4c9d;
}
.pantalla-dividida .principal-contactos .redes-sociales .youtube:hover{
    color: white;
    background-color: #e41d1d;
}
.pantalla-dividida .principal-contactos .redes-sociales .tiktok:hover{
    color: white;
    background-color: #151616;
}
.pantalla-dividida .principal-contactos .redes-sociales .whatsapp:hover{
    color: white;
    background-color: #04a71f;
}

.dropbtn {
    background-color: #fcfcfc00;
    color: rgb(22, 22, 22);
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfcd8;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(137, 241, 39, 0.452);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(34, 33, 33);
    background-color: #2fc71193;
    padding: 7px 3px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
        background-color: #2fc711;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    color: #ffffff;
  }
  .book-button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 30px;
    background-color: #2fc711;
    color: white;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; /* Añadí display inline-block para ajustar mejor el botón */
}

.header .overlayCarrito .btn-2 .book-button{
    margin: 5px 5px;
    padding: 8px 10px;
    background-color: #2fc711;
    color: white;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.header .overlayCarrito .btn-2 .book-button:hover{
    background-color: white;
    color: #2fc711;
}
.book-container{
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff; /* Añadí un fondo blanco a cada contenedor de libro */
}

.portada-book{
    display: inline-block;
    align-content: center;
    width: 48%;
    margin: 5px;
}
.portada-book img{
    width: 120px;
    height: 170px;
}

.book-image {
    margin-right: 20px;
}

.book-info {
    text-align: left;
    text-align: justify;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 2px;
    color: #333;
}
.book-details {
    flex: 1;
}
.book-title {
    font-size: 1.0em;
    font-weight: bold;
    margin: 0 0 5px;
    color: #333;
}

.book-author {
    color: #777;
}
.btn-2{
    display: flex;
    padding: 2px;
    justify-content: center;
}
.footer-2{
    text-align: center; 
    background-color: #bbb9b9;
    padding: 10px 30px;
}
.footer-2 .footer-3{
    display: flex;
    justify-content: space-between;
    text-align: center; 
    background-color: #bbb9b9;
    padding: 10px 30px;
}
.footer-2 .footer-3 .footer-4{
    text-align: center;
    margin: 5px 10px; 
    padding: 5px 50px;
    border: 10px 20px;
    border-right-style: solid;
    border-right-color: #555555;
}

.footer-2 .footer-3 .social-icons {
    align-items: center; 
    gap: 20px;
    margin: 5px 10px;
}
.footer-2 .footer-3 .social-icons .footer-facebook,
.footer-2 .footer-3 .social-icons .footer-instagram,
.footer-2 .footer-3 .social-icons .footer-youtube,
.footer-2 .footer-3 .social-icons .footer-tiktok,
.footer-2 .footer-3 .social-icons .footer-whatsapp{
    font-size: 30px;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 10px;
}

.footer-2 .footer-3 .social-icons .footer-facebook:hover{
    color: white;
    background-color: #1c81e0;
}
.footer-2 .footer-3 .social-icons .footer-instagram:hover{
    color: white;
    background-color: #cf4c9d;
}
.footer-2 .footer-3 .social-icons .footer-youtube:hover{
    color: white;
    background-color: #e41d1d;
}
.footer-2 .footer-3 .social-icons .footer-tiktok:hover{
    color: white;
    background-color: #151616;
}
.footer-2 .footer-3 .social-icons .footer-whatsapp:hover{
    color: white;
    background-color: #04a71f;
}

.Books-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.Books-container img {
    height: 150px;
    margin-right: 20px;
}

.pantalla-Principal{
    margin-top: 120px;
    border-top-style: solid;
    border-top-color: #2fc711;
    text-align: center;
}
.pantalla-dividida .pantalla-Principal .img-container img{
    width: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: #2fc711f8;
    box-shadow: 0 0 90px #2fc711d2;
    border-radius: 50px;
}
.pantalla-dividida .pantalla-Principal .img-mapa{
    width: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: #2fc711f8;
    box-shadow: 0 0 90px #2fc711d2;
    border-radius: 50px;
}
.mas-detalle{
    color: #2fc711;
    background-color: #ffffff;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
}
.notificacion{
    position: relative;
    bottom: 45%;
    left: 40%;
    background-color: #ffffff;
    text-align: center;
    color: #2fc711;
    border-radius: 5px;
    margin-left: 6%;
}
.btn-2 span:hover{
    background-color: #2fc711;
    color: #ffffff;
}
.container-quienesSomos{
    text-align: center;
    margin: 5px 100px;
    padding: 10px 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #2fc711f8;
    box-shadow: 0 0 90px #2fc711d2;
}