  /* Estilo para la barra de navegación */
body{
  background-image: url('https://i2.wp.com/files.123freevectors.com/wp-content/original/149148-purple-and-white-curved-lines-background.jpg');
  background-repeat: no-repeat;
  
  background-size:cover;
}

  nav.navbar {
    display: flex;
    justify-content: space-between; /* Distribuir elementos a lo largo del contenedor */
    align-items: center; /* Centrar verticalmente los elementos */
    background-color: rgb(234, 70, 234); /* Fondo rosa */
    height: 100px;
}

/* Estilo para el logo */
nav.navbar .navbar-brand {
    display: flex;
    align-items: center;
}
          
nav.navbar .navbar-brand img {
    max-height: 85px; /* Ajusta el tamaño del logo según sea necesario  \\w//    */
    margin-right: 490px; /* Agrega un espacio a la derecha del logo */
}

/* Estilo para los botones de la barra de navegación :) */
nav.navbar .navbar-nav {
    display: flex;
    gap: 10px; /* Espacio entre los elementos de la barra de navegación */

}

nav.navbar .nav-item .nav-link {
    background-color: #401442; /* Fondo mostaza con pollo para los botones  nota: tenia hambre en ese momento por eso la palabara "con pollo" xD*/
    color: #fff; /* Texto blanco para contraste */

}

    /* Estilo para centrar el h1 */
nav.navbar .navbar-brand  {
    text-align: center;
    margin: 0; /* Ajustar margen para centrar verticalmente el h1 */
    flex-grow: 1; /* Hace que el h1 ocupe todo el espacio restante mas o menos lo que entendi*/
    margin-left: 10px;
   }



.carousel {
    width: 600px;
    height: 400px;
    overflow: hidden;
  }
  
  .carousel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel li {
    float: left;
    width: 33.33%;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    display: block;
  }
  #seccion-centrada {
    width: 80%; /* Ancho de la sección */
    margin: 0 auto; /* Margin para centrar horizontalmente */
  }
  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel img {
    height: 450px; /* ajusta la altura según tus necesidades .-. */
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
/* Estilos para el footer flotante :) */
.float-container {
  background-color: #000;
  color: #fff;
  padding: 0px; /*aumenta el tamaño de la barra negra del footer :)*/ 
  text-align: center;
}

/* Estilos para los íconos de redes sociales */
.float-container .social-icon {
  display: inline-block; /* Alinear los íconos en línea */
  margin: 0 10px; /* Espaciado entre los íconos */
}

.float-container .social-icon img {
  width: 40px; /* Ajusta el tamaño de las imágenes según tus necesidades pero no exageres xD */
}

/* Eliminar márgenes y padding predeterminados para el cuerpo de la página mas informacion en chatgpt */
body {
  margin: 0;
  padding: 0;
}

  